.Nav {
  display: flex !important;
  background-color: #700 !important;
}
.NavContainer {
  width: 95%;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin: auto;
  display: inline-flex;
}

@media screen and (min-width: 768px) {
  .LinksContainer {
    width: 58.3333333333% !important;
  }
}
