.BtnGroup {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
  align-content: center;
  flex-wrap: wrap;
  margin-bottom: 1.25rem;
  margin-top: 1.25rem;
}
.RadioButton {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}
.BtnLink {
  border: 1px solid #d0d0d07d;
  border-radius: 0;
}
.BtnLink:hover {
  background-color: var(--primary);
  color: var(--white);
}
.BtnPrimary {
  cursor: initial;
  border-radius: 0;
}
